
services:
  api_gateway:
    build:
      context: ApiGateway
      dockerfile: Dockerfile
    container_name: ${GATEWAY_SERVICE_NAME}
    networks:
      - internal-network
      - output-network
    ports:
      - "${GATEWAY_PORT}:80"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost/health" ]
      interval: 40s
      retries: 3
      timeout: 10s
      start_period: 10s
    depends_on:
      - auth_service
      - db

  common_service:
    build:
      context: Common
      dockerfile: Dockerfile
      args:
        JAVA_VERSION: ${JAVA_VERSION}
    container_name: ${COMMON_SERVICE_NAME}
    environment:
      - DB_HOST=${DB_SERVICE_NAME}
      - DB_NAME=${DB_NAME}
      - DB_MAIN_USER=${DB_MAIN_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - JAVA_VERSION=${JAVA_VERSION}
      - ENCRYPTION_SECRET_KEY=${ENCRYPTION_SECRET_KEY}
      - ENCRYPTION_SALT=${ENCRYPTION_SALT}
    networks:
      - dbs-network
    depends_on:
      db:
        condition: service_healthy

  auth_service:
    build:
      context: ./AuthService
      dockerfile: Dockerfile
      args:
        JAVA_VERSION: ${JAVA_VERSION}
    container_name: ${AUTH_SERVICE_NAME}
    environment:
      - APP_NAME=${AUTH_SERVICE_NAME}
      - DB_HOST=${DB_SERVICE_NAME}
      - DB_NAME=${DB_NAME}
      - DB_MAIN_USER=${DB_MAIN_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - AUTH_ADMIN_REGISTRATION_SECRET_KEY=${AUTH_ADMIN_REGISTRATION_SECRET_KEY}
      - JAVA_VERSION=${JAVA_VERSION}
      - ENCRYPTION_SECRET_KEY=${ENCRYPTION_SECRET_KEY}
      - ENCRYPTION_SALT=${ENCRYPTION_SALT}
    networks:
      - dbs-network
      - internal-network
    depends_on:
      - common_service


  poster_service:
    build:
      context: ./FriendShipService
      dockerfile: Dockerfile
      args:
        JAVA_VERSION: ${JAVA_VERSION}
    container_name: ${POSTER_SERVICE_NAME}
    environment:
      - APP_NAME=${POSTER_SERVICE_NAME}
      - DB_HOST=${DB_SERVICE_NAME}
      - DB_NAME=${DB_NAME}
      - DB_MAIN_USER=${DB_MAIN_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - JAVA_VERSION=${JAVA_VERSION}
      - RABBITMQ_HOST=${RABBITMQ_SERVICE_NAME}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - ENCRYPTION_SECRET_KEY=${ENCRYPTION_SECRET_KEY}
      - ENCRYPTION_SALT=${ENCRYPTION_SALT}
      - REDIS_HOST=${REDIS_SERVICE_NAME}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    networks:
      - dbs-network
      - internal-network
    depends_on:
      - common_service


  notify_service:
    build:
      context: ./NotifyService
      dockerfile: Dockerfile
      args:
        JAVA_VERSION: ${JAVA_VERSION}
    container_name: ${NOTIFY_SERVICE_NAME}
    environment:
      - APP_NAME=${NOTIFY_SERVICE_NAME}
      - DB_HOST=${DB_SERVICE_NAME}
      - DB_NAME=${DB_NAME}
      - DB_MAIN_USER=${DB_MAIN_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - JAVA_VERSION=${JAVA_VERSION}
      - RABBITMQ_HOST=${RABBITMQ_SERVICE_NAME}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - ENCRYPTION_SECRET_KEY=${ENCRYPTION_SECRET_KEY}
      - ENCRYPTION_SALT=${ENCRYPTION_SALT}
    networks:
      - dbs-network
      - internal-network
    depends_on:
      - common_service

  rabbitmq_service:
    image: rabbitmq:management
    container_name: ${RABBITMQ_SERVICE_NAME}
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USERNAME}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    ports:
      - "${RABBITMQ_PORT}:${RABBITMQ_PORT}"
      - "15672:15672"
    networks:
      - internal-network
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  redis:
    image: redis:latest
    container_name: ${REDIS_SERVICE_NAME}
    ports:
      - "6379:6379"
    networks:
      - internal-network
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: [ "redis-server", "--bind", "0.0.0.0", "--requirepass", "${REDIS_PASSWORD}" ]
    volumes:
      - redis_data:/data


  db:
    image: postgres:latest
    container_name: ${DB_SERVICE_NAME}
    networks:
      - dbs-network
    environment:
      POSTGRES_USER: ${DB_MAIN_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "${FORWARD_DB_PORT}:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_MAIN_USER}", "-d", "${DB_NAME}"]
      interval: 10s
      retries: 5
      timeout: 5s
      start_period: 10s

networks:
  internal-network:
    driver: bridge
  output-network:
    driver: bridge
  dbs-network:
    driver: bridge

volumes:
  pg_data:
    driver: local
  rabbitmq-data:
    driver: local
  redis_data:
    driver: local